body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#titleBar {
  height: 30px;
  background: #2b2b2b;
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  color: white;
  font-family: system-ui;
}

.titleSection {
  display: flex;
  align-items: center;
  gap: 8px;
}

.titleLogo {
  width: 16px;
  height: 16px;
  -webkit-app-region: drag;
}

#windowControls {
  -webkit-app-region: no-drag;
  display: flex;
  gap: 8px;
}

.windowButton {
  border: none;
  background: transparent;
  color: white;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.windowButton:hover {
  background: rgba(255,255,255,0.1);
}

#closeButton:hover {
  background: #e81123;
}

#app {
  height: calc(100vh - 30px);
}
